body {
    font-family: Arial, sans-serif;
}
 
header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
h1, h2 {
    margin: 0;
}
 
nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}
 
nav a:hover {
    background-color: #ddd;
}
 
main {
    padding: 20px;
}
 
.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
 
.banner {
    padding: 20px;
    border: 1px solid #ddd;
    width: 30%;
    margin-bottom: 10px;
}
 
.banner h3 {
    margin-bottom: 1
}

.banner {
  width: 300px; /* Adjust width based on your chosen size */
  height: 250px; /* Adjust height based on your chosen size */
}



.banner {
  max-width: 300px; /* Adjust width as needed */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}
.flashy-button {
  background-color: #f04e4e; /* Orange */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.flashy-button:hover {
  background-color: #c03939; /* Darker orange on hover */
  transform: scale(1.02); /* Slight scale on hover */
}
